<body>
    <h1>Edit Employee</h1>

    


            <!-- Updates Employee Details -->
            <form action="/employees/edit/<%= employee.eid %>" method="POST">
                <label for="eid">EID</label>
                <input type="text" id="eid" name="eid" value="<%= employee.eid %>" readonly>
                <br>
                <label for="ename">Name</label>
                <input type="text" id="ename" name="ename" value="<%= employee.ename %>">
                <br>
                <label for="role">Role</label>
                <select id="role" name="role">
                    <option <%=employee.role=='Manager' ? 'selected' :'' %> value="Manager">Manager</option>
                    <option <%=employee.role=='Employee' ? 'selected' :'' %> value="Employee">Employee</option>
                </select>
                <br>
                <label for="salary">Salary</label>
                <input type="text" id="salary" name="salary" value="<%= employee.salary %>">
                <br>
                <input type="submit" value="Update">
            </form>

            <a href="/">Home</a>
</body>